* {
	padding: 0;margin: 0;
}

a {
  color: black !important; 
}
a:visited {
  color: black !important;
}

i {
	cursor: pointer;
}

ul {
	list-style: none;
}

.hide {
	display: none;
}
/*左栏*/
.leftbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #f2f2f2;
  transition:1s;
}

.leftbar-hide {
  width: 45px;
}
.leftbar-show {
  width: 90px;
}

/*左栏元素排列*/

.leftbar li {
	display: block;
	margin-left: 10px;
	margin-top: 60px;
	overflow: hidden;
	height: 20px;
	padding-bottom: 3px;
}

/*左栏文字超出显示区域达到隐藏效果*/
.leftbar span {
	display: inline-block;
	margin-left: 16px;
}
/*进度条灰色背景*/
.rate--wrap  {
	height: 20px;
	width: 420px;
	border: 1px solid #e8e8e8;
	background-color: #ccc;
}

/*进度条*/
.rate--block {
  height: 100%;
  width: 100%;
}

.rate--block>li {
  display: none;
  height: 100%;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
  width: 0;
}

.rate--block>li:nth-child(odd) {
  background-color: #f44336;
  /*height: 100%;*/
  /*width: 80px;*/
  animation-name: work;


}
.rate--block>li:nth-child(even) {
  background-color: #2196f3;
  /*width: 20px;*/
  animation-name: break;
}

.rate--block>li:nth-last-child(1) {
  /*width: 40px;*/
  animation-name: longbreak;
}

/*进度条动画*/
#rate {
	width: 0;
	height: 100%;
	background: 
		linear-gradient(to right,rgba(0,0,0,0) 88.5%,#2196f3 0),
	    linear-gradient(to right,#f44336 80.77px,transparent 0),
	    linear-gradient(to right,#2196f3 50px,transparent 0);
	background-size: 420px 100%,97px 100%,42px 100%;
	animation: 3s tomato linear 1 forwards normal;
	animation-name: tomato;
	animation-duration: 20s;
	animation-play-state: paused;
}
/*偷懒就在css里设置了很多keyframes*/
/*webkit*/
@-webkit-keyframes work{
	from{width: 0;}
	to{width: 80px;}
}

@-webkit-keyframes break{
	from{width: 0;}
	to{width: 20px;}
}

@-webkit-keyframes longbreak{
	from{width: 0;}
	to{width: 40px;}
}


/*通用包裹，然而只包裹了设置块，懒得改了ლ(╹◡╹ლ)*/
.main--wrap {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 562px;
}
/*主体圆环*/
.main {
	margin: 0 auto;
	margin-top: 40px;
	height: 400px;
	width: 400px;
	border-radius: 100%;
	border: 6px solid #808080;
	text-align: center;
	line-height: 400px;
	font-size: 100px;
	font-family: "courier new";
}
/*播放按钮*/
.aside {
	text-align: center;
	margin-top: 40px;
}

/*不可触发元素设置*/

.bg {
	color: #808080;
	position: absolute;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
	top: 4px;
}


.start--bg {
	color: #E8E8E8;
	top: 514px;
}

/*设置页面*/

.setting h1{
	text-align: center;
}

.select {
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	/*z-index: 5;*/
}

/*选框包裹*/
.select--group select{
	display: inline-block;
	margin-top: 10px;
	padding: 4px;
	padding-left: 10px;
	font-size: 18px;
	width: 200px;
	height: 30px;
}

/*底栏*/
.footbar {
	position: fixed;
	left: 0;
	height: 80px;
	background-color: #e6e6e6;
	width: 100%;
	z-index: -1;
  transition: 1s;
}

.footbar-down {
  bottom: -45px;
}

.footbar-up {
  bottom: 0;
}
/*底栏元素靠左*/
.footbar_btn {
	margin-right: 25px;
  float: right;
  color: #808080;
}
.footbar_note {
  position: absolute;
  right:34px;
  top: 40px;
}
/*底栏元素个体设置*/
.footbar li{
	position: relative;
	text-align: left;
	margin-top: 6px;
	display: inline-block;
	width: 65px;
	z-index: 1;
}

.footbar__text {
	display: block;
	margin-top: 11px;
}

.footbar #copyright {
	position: absolute;
	top: 10px;
	
}

#copyright a {
	color: #b71200;
	text-decoration: none;
}
#copyright a:visited {
	text-decoration: none;
}

/*cnavas*/
#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-53%);
	z-index: 999;
}

#up {
  color: #000;
}

#refresh {
	color: #000;
}
.footbar .active {
  color: #000;
}